/thesis/thesis_acknowledge.aux
/thesis/thesis_appendix.aux
/thesis/MAIN_THESIS.aux
/thesis/MAIN_THESIS.lof
/thesis/MAIN_THESIS.log
/thesis/MAIN_THESIS.lot
/thesis/MAIN_THESIS.out
/thesis/MAIN_THESIS.pdf
/thesis/MAIN_THESIS.synctex.gz
/thesis/MAIN_THESIS.toc
